[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
zord = "EgdCU8dmSb3mchFbgchYt28PCk4dnmKrYgQGMJsjMckf"

[programs.devnet]
zord = "EgdCU8dmSb3mchFbgchYt28PCk4dnmKrYgQGMJsjMckf"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
